*{
	/*outline: 1px dotted red;*/
	margin: 0px;
    padding: 0px;
    border: 0px;
}

.Game_header {
	background-color: #FFFFFF;
	width: 1035px;
	margin: 35px auto;
	z-index:-1;
}

#wrapper
{
	background-color: #4c4949;
	width: 1035px;
	margin: 35px auto;
	z-index:-1;
}

    
 .board{
	display: inline-block;
	width: 35px;
	height: 35px;
	z-index:-1;
 }  

.wallTop{
	border-bottom: 5px solid blue;
}
.wallLeft{
	border-right: 5px solid blue;
	height: 55px;
}
.wallBottom{
	border-top: 5px solid blue;	
}
.wallRight{
	border-left: 5px solid blue;
	height: 55px;
	z-index:-1;
}
.verticalWall{
	background-color:blue;
	font-weight:bold;
	font-size:24px;
	vertical-align:top;
	display:inline-block;
	height:10%;
}
p{
	display:inline-block;
	margin-top:10px;
}
.dot{
	color: yellow;
	vertical-align: top;
	padding-top: 20px;
	z-index: -1;
}
.coin{
	background-image: "./images/coin.gif";
	z-index:2;
	display:inline-block;
	vertical-align:top;
	margin-top:15px;
}

#pacman{
	display: inline-block;
	width: 10px;
	height: 10px;
	z-index: 10;/*

	position:absolute;*/
}
/*
#pacman img{
	width:30px;
	height:30px;
	top:-84px;

	left:800px;
	top:-380px;
	left:205px;
}*/
/*move left/right = 35px*/
/*move up/down = 55px*/

.corner{}
.row{
	text-align: center;
	z-index:-1;
	/*display:inline-block;*/
}