<html>
<head>
	<title>Packman Game</title>
	<link rel="stylesheet" type="text/css" href="packman.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
	<script type="text/javascript" src="pacman.js"></script>
	<!-- <script type="text/javascript" src="login.js"></script> -->
</head>
<body>

	<div id='Game_header' align="center" class="heading">
	<table align="center"  class="heading" width="75%">

		<! Player Name Cell>
		<td width="30%">
			<textarea col="15" id="PlayerID" align= "center" style="font-size: x-large; border: 0px white;"><%=user_name%></textarea>
		</td>
		<! Game Logo Cell>
		<td width="30%" class="heading">
			<img src="./images/logo.png" width="50%" />
		</td>
		<! Scoring Cell>
		<td width="30%" class="heading" align="right">
			<label id="Score" style="font-size: x-large; font-style: Sans">0</label>
		</td>

	</table>
	</div>

	<! Prompts Login AFTER header is populated />
<!-- 	<script> login();</script> -->
	
	<div id='wrapper'>
		<div id='board_outer'>
			<div id='board'></div>
		</div>
<!-- 		<div id='pacman'></div> -->
	</div> <!--end of wrapper -->
</body>
</html>